<a href='http://www.scienceacademy.ca'> <img style="float: left;height:70px" src="Log_SA.jpeg"></a>

# Ecommerce Purchases Exercise Overview

Hi Guys,<br>
After a crash course on pandas for data analysis, its time to do some practice!!!<br>
Because of privacy issues, I have created a fake dataset here with 30K entries. <br>
The situation is, customers are providing some personal information while purchasing stuff on-line or in-store. For some reasons, your client wants to know the answer to some of his questions from the dataset, let's try to help him!.<br>

*Feel free to consult the solutions if needed. Please note, the tasks given in the exercises, can be solved in different ways. Try your best answer and compare with the solutions.* <br>
&#9758; The dataset is provided in the course downloads.

**Just for Python fun!**<br>
**Can you find which directory you are in at the moment? (your current working directory on your computer)**<br>

In [1]:
import os
cwd = os.getcwd()
cwd

'D:\\repos\\data-science-python\\Course_Material\\S_4_Pandas_DA'

**Loop through the files in your working directory and display their names**

In [2]:
files = [f for f in os.listdir('.') if os.path.isfile(f)]
for f in files:
    print (f)

.DS_Store
10_1_Chicago_Payroll_Data_Exercise_2.ipynb
10_2_Chicago_Payroll_Data_Exercise_2_Solution.ipynb
1_Intro_pandas.ipynb
2_Series.ipynb
3_DataFrame.ipynb
4_Hierarchical_Indexing.ipynb
5_Handling_Missing_Data.ipynb
6_Data_Wrangling_Combining_and_Merging-joining.ipynb
7_GroupBy.ipynb
8_Useful_Methods.ipynb
9_1_Cust_Purch_Data_Exercise_1.ipynb
9_2_Cust_Purch_Data_Exercise_1_Solutions.ipynb
City_of_Chicago_Payroll_Data.csv
Cust_Purch_FakeData.csv
Logo_SA.png
Log_SA.jpeg

In [3]:
# First thing first, import pandas :)
import pandas as pd

**1. Please load the data in a variable "cust", data file name is 'Cust_Purch_FakeData.csv'. **

In [4]:
# Code here please
df = pd.read_csv('Cust_Purch_FakeData.csv')

In [5]:
df

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045
5,Mrs.,Andre,McGuire,to@hotvo.ne,Male,50,Timken Company,Communications Director,(770) 426-3078,G8J 3D9,AB,5610000000000000,12/2018,Laser,25.32,Red,44.6.228.222,Thursday,pm,10/06/2030
6,Mr.,Cody,Thompson,nebuite@mi.bg,Female,62,Nicor Inc,Special Education Teacher,(837) 589-1682,T2I 9L2,PE,6370000000000000,10/2020,Solo,52.88,Blue,46.87.230.156,Thursday,am,09/23/2044
7,Mr.,Cory,Duncan,rucekefif@zi.mt,Male,36,Integrated Electrical Services Inc.,Urban Planner,(529) 615-1417,C9D 4Y4,NU,6300000000000000,10/2028,Diners Club enRoute,10.69,Blue,209.5.235.14,Friday,pm,04/24/2048
8,Miss,Dorothy,Watkins,cakpez@can.pm,Female,36,Service Corp. International,Veterinarian,(279) 709-6064,B0X 0B5,MB,343000000000000,03/2022,Diners Club Carte Blanche,99.56,Green,11.57.253.20,Wednesday,am,10/21/1920
9,Dr.,Rose,Tate,nafi@kuzrame.ee,Female,53,Eastman Kodak Company,Software Engineer,(410) 596-2046,M4I 0U9,NT,6300000000000000,04/2022,Discover Card,26.32,Red,177.27.84.7,Saturday,pm,10/03/2058
10,Mrs.,Ada,Potter,ban@wij.th,Male,61,Group 1 Automotive Inc.,Actor,(506) 399-4361,G4B 2J8,YT,341000000000000,08/2020,Switch,4.01,Red,211.176.138.119,Wednesday,am,04/04/1972
11,Dr.,Rodney,Anderson,iddegape@mocosak.gr,Female,27,Chubb Corp,Social Program Planner,(723) 238-3602,B7S 7D0,AB,30100000000000,03/2027,Visa Electron,34.44,Green,142.94.231.191,Wednesday,pm,12/16/1910
12,Mrs.,Antonio,Gibson,uflum@tel.zm,Male,54,Harley-Davidson Inc.,Technology Director,(265) 465-2620,P5O 6D1,NU,30100000000000,11/2022,JCB,41.02,White,117.11.239.249,Thursday,pm,03/30/2047
13,Mr.,Lucinda,Zimmerman,owo@fiise.gt,Female,36,D.R. Horton Inc.,Social Program Planner,(422) 475-1008,S2N 9P1,AB,36400000000000,04/2026,Laser,65.76,Black,220.91.218.21,Saturday,am,01/22/2052
14,Mr.,Jared,Love,kuvhel@pe.km,Female,33,WorldCom Inc,Speech Pathologist,(303) 867-4285,S0Y 6J3,PE,4030000000000000,10/2025,China UnionPay,18.61,Green,247.144.114.173,Sunday,pm,03/02/2032
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950
17,Mr.,Maud,Smith,kimpadfam@ron.cz,Male,31,Eli Lilly and Company,Publishing Director,(248) 609-3383,E0B 7P4,NB,4900000000000000,04/2026,American Express,77.84,Blue,149.18.44.221,Wednesday,am,07/02/2065
18,Miss,Warren,Cooper,botwoz@juni.cx,Male,61,Carpenter Technology Corp.,Sports Event Manager,(617) 235-7944,N3B 0U2,NB,4360000000000000,11/2022,InstaPayment,3.46,Black,163.141.219.75,Friday,pm,10/03/2011
19,Miss,Viola,Burke,zoluccu@tiriba.cv,Female,36,Viacom Inc,Sales Promotion Manager,(926) 915-7866,J3I 9B6,QC,5610000000000000,10/2026,Diners Club enRoute,2.94,White,55.209.25.194,Monday,am,10/28/1947
20,Mrs.,Leona,Alvarado,emure@hawmifa.tw,Female,63,Atmel Corporation,Editor,(572) 595-4792,L8T 5E6,NS,4030000000000000,11/2022,Diners Club International,37.58,Green,91.156.28.39,Monday,pm,12/20/2051
21,Mr.,Henrietta,Luna,wabmavvec@pefvuuje.mo,Female,37,Wm Wrigley Jr Company,Sales Manager,(369) 485-5729,E9Q 6U4,NL,347000000000000,12/2025,Visa Electron,77.13,Yellow,227.191.203.124,Monday,pm,11/25/2004
22,Mrs.,Duane,Santos,zavuf@raj.hu,Male,62,Masco Corporation,Preschool Management,(764) 758-2233,C3X 9O4,QC,5610000000000000,01/2022,Discover Card,48.51,Red,61.90.215.39,Sunday,am,07/15/2017
23,Mr.,Winnie,George,itaporru@idezome.fr,Male,21,Carlisle Cos. Inc.,Network Specialist,(239) 982-2824,H1B 4N7,NT,6370000000000000,06/2020,Laser,20.66,Green,5.173.78.53,Tuesday,pm,09/10/1913
24,Miss,Cecilia,Ross,ti@teh.af,Female,60,Genzyme Corporation,Sales Manager,(856) 566-7898,R1P 2Q2,MB,6240000000000000,05/2028,Diners Club United States & Canada,41.95,Black,197.178.7.21,Tuesday,pm,03/16/2042
25,Dr.,Michael,Hoffman,sefcoowo@azoapuget.lv,Male,60,Ameren Corporation,Land Developer,(510) 978-2570,S8L 7P4,NU,6370000000000000,11/2018,JCB,62.88,Red,116.184.130.63,Sunday,am,03/28/2043
26,Mrs.,Cody,Cole,ali@vev.mr,Female,34,Cenex Harvest States Cooperatives,Compensation Analyst,(940) 298-9362,P0L 0J4,YT,6260000000000000,06/2025,InstaPayment,84.83,Blue,147.201.26.123,Saturday,pm,03/28/1999
27,Mrs.,Lydia,Hardy,lakped@majlos.mq,Female,27,Illinois Tool Works Inc.,Speech Pathologist,(508) 382-1810,T0T 6A2,NT,5610000000000000,04/2027,China UnionPay,95.67,Green,218.103.56.170,Monday,am,04/09/1955
28,Mrs.,Katherine,Howard,uz@meos.gt,Male,44,Jones Apparel Group Inc.,Artist,(433) 388-5962,R8S 8H5,NB,5020000000000000,12/2018,Switch,34.08,Yellow,147.239.77.6,Wednesday,am,07/13/2035
29,Miss,Maud,Fleming,kab@ogo.su,Female,37,"Beazer Homes USA, Inc.",Grounds Keeper,(538) 376-1440,S8A 7N1,BC,4030000000000000,10/2020,Diners Club enRoute,76.66,Yellow,220.171.33.67,Friday,am,03/17/2065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,Dr.,Belle,Allen,gefuag@me.yt,Male,41,Seaboard Corp,Broker,(805) 868-3978,L1G 6F6,MB,5020000000000000,08/2022,Bankcard,81.11,White,89.88.241.122,Tuesday,pm,07/24/1961
29971,Mr.,Gussie,Mendez,pupute@ogoz.mk,Male,54,Stewart Information Services Corp,Project Engineer,(778) 935-4071,S0C 0M7,NL,5610000000000000,07/2023,Maestro,55.55,Red,181.228.202.184,Wednesday,pm,12/11/2013
29972,Mrs.,Keith,Higgins,ribis@tuw.dz,Male,22,McDonald's Corporation,University Administrator,(409) 981-2466,P1F 2F8,NT,3530000000000000,05/2021,Maestro,25.61,Black,94.154.159.3,Friday,pm,04/29/2038
29973,Mrs.,Helen,Sutton,boz@fu.am,Female,50,"Administaff, Inc.",Fund Raiser,(776) 678-9274,J8U 2W7,YT,36500000000000,12/2021,Diners Club United States & Canada,91.89,Red,120.26.235.60,Friday,am,10/15/1903
29974,Dr.,Clayton,Mills,epano@ki.kg,Female,28,Emcor Group Inc.,Administrative Asst.,(723) 820-8740,K7W 7H9,NB,3530000000000000,03/2023,Bankcard,43.54,Blue,183.100.45.188,Sunday,pm,09/23/1920
29975,Mr.,Mario,Williamson,vuzdo@lemgetcaw.com,Female,53,"ADC Telecommunications, Inc.",Ship's Officer,(454) 458-6620,T6A 0B0,AB,6010000000000000,06/2026,Visa Electron,40.37,Yellow,91.227.84.178,Monday,am,07/27/2008
29976,Miss,Todd,Hunt,buupu@nup.cu,Male,64,Manpower Inc.,Tax Specialist,(307) 641-2997,M3M 4Q2,NT,5020000000000000,07/2027,Switch,37.16,White,242.109.176.186,Saturday,am,01/10/2049
29977,Mr.,Ruby,Gregory,no@huj.cx,Male,19,PSS World Medical Inc,Compliance Manager,(217) 895-6618,H6L 8I7,SK,5140000000000000,11/2028,Diners Club Carte Blanche,87.54,White,14.84.182.193,Friday,am,06/26/1976
29978,Dr.,Gary,Hawkins,ehpuv@bemlorif.gn,Male,34,Nabors Industries Inc,Chief Information Officer,(522) 602-2775,G3D 5W4,YT,5170000000000000,10/2026,Diners Club United States & Canada,71.44,White,172.124.58.94,Saturday,pm,11/29/2066
29979,Miss,Harriet,Murray,zizsilil@biezu.ag,Male,58,Longs Drug Stores Corporation,Industrial Designer,(271) 540-3275,M1M 6D9,NS,6300000000000000,07/2018,Diners Club Carte Blanche,72.39,Green,153.112.105.3,Friday,pm,03/04/1920
29980,Miss,Birdie,Parks,iji@nimedjuk.ag,Male,37,WPS Resources Corporation,Management Consultant,(340) 596-9390,A7A 0P5,NU,6370000000000000,10/2022,Diners Club Carte Blanche,11.33,Blue,202.156.130.133,Monday,pm,01/22/1968
29981,Miss,Don,Jones,icelahiho@taudop.nl,Female,21,Manor Care Inc.,Copywriter,(886) 304-3042,C6J 0Z7,NL,4960000000000000,11/2025,China UnionPay,4.81,White,13.169.58.30,Tuesday,am,06/13/1998
29982,Mrs.,Earl,Stephens,ruvnen@su.ro,Male,60,Standard Pacific Corp.,Cosmetologist,(317) 364-9960,E8K 4K9,QC,5610000000000000,10/2018,Maestro,85.15,Green,39.235.15.44,Saturday,am,07/23/2008
29983,Mr.,Zachary,Vaughn,ub@buco.ye,Female,51,Domino's Pizza LLC,Dietitian,(487) 622-6661,J8M 3C7,NU,30000000000000,12/2026,Diners Club Carte Blanche,90.45,Green,100.249.160.70,Thursday,am,12/25/2052
29984,Mrs.,Catherine,Maxwell,bed@biv.sx,Male,46,Novellus Systems Inc,Restaurant Manager,(725) 768-1173,C4Q 8P2,NB,36800000000000,08/2024,InstaPayment,61.92,Blue,188.24.114.217,Sunday,pm,02/06/2042
29985,Miss,Randy,Schneider,mi@hifteb.bo,Female,30,Toys 'R' Us Inc,Seminar Presenter,(269) 672-2600,J6E 1S3,NU,5440000000000000,11/2023,Switch,25.13,Red,138.215.123.30,Tuesday,am,08/07/1960
29986,Dr.,Nora,Hogan,miro@tuko.hk,Female,20,BorgWarner Inc.,Scientific Writer,(571) 942-6264,P5C 2M0,PE,6330000000000000,01/2023,Mastercard,84.23,White,188.32.181.178,Sunday,am,04/03/1928
29987,Mr.,Billy,Lucas,hihdu@kuwze.hm,Female,38,Deluxe Corporation,Organizational Development Manager,(933) 517-6356,K6I 2U5,QC,36400000000000,03/2019,InstaPayment,21.17,Blue,72.8.98.51,Tuesday,pm,05/18/1929
29988,Dr.,Genevieve,Dawson,egsol@wuhud.ai,Female,57,Sequa Corp,Title Examiner,(836) 321-4622,S1C 9W7,SK,6280000000000000,03/2018,China UnionPay,41.37,Blue,15.95.244.117,Friday,am,03/01/1910
29989,Dr.,Stella,Pierce,durif@kaazile.td,Male,27,York International Corp,Telemarketer,(979) 694-3181,C9P 9F0,NL,37000000000000,07/2024,China UnionPay,75.45,Yellow,42.224.53.151,Saturday,am,05/03/1963
29990,Mrs.,Theodore,Lewis,nof@vowna.cz,Female,33,Southwest Airlines Co,Reporter,(905) 477-7816,M6W 8B2,NU,5610000000000000,06/2027,China UnionPay,38.80,Blue,207.238.119.187,Thursday,am,02/14/1994
29991,Mrs.,Harriett,May,tiwmubu@ureriv.cc,Female,62,The Neiman Marcus Group Inc.,Distribution Manager,(327) 783-3145,R6A 3H2,BC,6290000000000000,05/2026,JCB,54.34,Yellow,32.50.6.145,Wednesday,pm,05/06/1926
29992,Mr.,Leonard,Flores,fi@luak.au,Female,36,Aon Corporation,Consultant,(225) 863-1707,X6E 8Z4,PE,30100000000000,12/2024,JCB,86.13,Blue,153.250.119.4,Friday,pm,02/17/1904
29993,Mr.,Herman,Ballard,di@vu.mz,Female,52,Toll Brothers Inc,Electro Optical Engineer,(947) 891-5151,C3L 6N5,SK,4030000000000000,03/2018,Visa,45.59,Green,131.176.8.57,Wednesday,pm,11/07/2024
29994,Miss,Dennis,Adkins,oloepmul@osu.pm,Female,57,Wellpoint Health Networks Inc,Building Contractor,(787) 626-2200,H2N 6Y5,NB,36900000000000,10/2026,Diners Club United States & Canada,84.38,Red,59.15.246.46,Thursday,am,02/08/1958
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,PE,201000000000000,12/2026,American Express,5.94,White,154.114.74.254,Sunday,pm,09/27/2068
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,06/2021,Maestro,65.66,Black,188.0.106.220,Monday,pm,09/07/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,08/2023,Solo,52.66,Black,129.168.247.27,Monday,pm,09/08/1938
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,BC,6300000000000000,05/2024,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,06/22/1956

**2. Its good idea to see how the data look like, display first 5 rows of your data-set.**

In [6]:
# Code here please
df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

**3. How many entries your data have? 
Can you tell the no. of columns in your data?**

In [7]:
# Code here please
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
prefix        30000 non-null object
first         30000 non-null object
last          30000 non-null object
email         30000 non-null object
gender        30000 non-null object
age           30000 non-null int64
company       30000 non-null object
profession    30000 non-null object
phone         30000 non-null object
postal        30000 non-null object
province      30000 non-null object
cc_no         30000 non-null int64
cc_exp        30000 non-null object
cc_type       30000 non-null object
price(CAD)    30000 non-null float64
fav_color     30000 non-null object
ip            30000 non-null object
weekday       30000 non-null object
ampm          30000 non-null object
date          30000 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
prefix        30000 non-null object
first         30000 non-null object
last          30000 non-null object
email         30000 non-null object
gender        30000 non-null object
age           30000 non-null int64
company       30000 non-null object
profession    30000 non-null object
phone         30000 non-null object
postal        30000 non-null object
province      30000 non-null object
cc_no         30000 non-null int64
cc_exp        30000 non-null object
cc_type       30000 non-null object
price(CAD)    30000 non-null float64
fav_color     30000 non-null object
ip            30000 non-null object
weekday       30000 non-null object
ampm          30000 non-null object
date          30000 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

**4. What are the max and min ages of your customer? Can you find mean of your customer?**

In [8]:
# Code here please
print('Avg. age of the customer: ',df['age'].mean())
print('Max. age of the customers: ',df['age'].max())
print('Min. age of the customers: ',df['age'].min())

Avg. age of the customer:  41.550066666666666
Max. age of the customers:  65
Min. age of the customers:  18

Max. age of the customer is:  65
Max. age of the customer is:  18
Avg. age of the customer is:  41.550066666666666

**5. What are the three most common customer's names?**<br>
&#9989; [<code>**value_counts()**</code>](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [15]:
# Code here please
print(df['first'].value_counts().head(3))
print(df['last'].value_counts().head(3))

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64
Byrd       94
Morales    90
Luna       86
Name: last, dtype: int64

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

**6. Two customers have the same phone number, can you find those customers**?

In [18]:
# Code here please
df['phone'].value_counts()

(263) 382-8004    2
(687) 277-6417    1
(300) 593-2472    1
(816) 775-3467    1
(327) 341-4111    1
(373) 609-5364    1
(373) 526-1489    1
(328) 701-7634    1
(952) 766-6706    1
(701) 269-6461    1
(914) 684-7486    1
(357) 586-5308    1
(845) 471-9819    1
(480) 520-8052    1
(479) 205-8481    1
(488) 967-9682    1
(673) 887-6579    1
(218) 597-9980    1
(536) 235-7800    1
(317) 710-1001    1
(743) 499-9523    1
(365) 549-8790    1
(536) 609-4242    1
(458) 764-5087    1
(649) 897-5637    1
(707) 524-4443    1
(852) 750-6070    1
(977) 267-6387    1
(981) 995-4632    1
(954) 764-4512    1
                 ..
(372) 307-5113    1
(660) 831-2405    1
(439) 718-5700    1
(767) 819-8634    1
(937) 358-2604    1
(616) 444-8292    1
(557) 635-9665    1
(946) 326-9799    1
(283) 845-3163    1
(247) 335-1966    1
(750) 343-1226    1
(864) 964-2438    1
(875) 256-2889    1
(766) 823-3064    1
(578) 984-7906    1
(386) 962-9034    1
(250) 250-2520    1
(806) 613-3592    1
(922) 961-7456    1
(973) 644-8726    1
(700) 463-4305    1
(844) 499-7814    1
(277) 843-8654    1
(234) 811-9325    1
(704) 473-9787    1
(387) 388-9554    1
(811) 456-1087    1
(658) 594-1710    1
(383) 521-5363    1
(960) 942-9809    1
Name: phone, Length: 29999, dtype: int64

In [7]:
# lets find what phone number is twice!

(263) 382-8004    2
(668) 836-2738    1
Name: phone, dtype: int64

In [21]:
# Code here please
df[df['phone'] == '(263) 382-8004']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

In [8]:
# Now we know the phone number, let's find out the other stuff!

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

**7. How many customers have profession "Structural Engineer"?**

In [25]:
# Code here please
df[df['profession'] == 'Structural Engineer'].count()

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

**8. How many male customers are 'Structural Engineer'?**

In [37]:
# Code here please
df[(df['profession'] == 'Structural Engineer') & (df['gender'] == 'Male')].count()

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

**9. Find out the female Structural Engineers from province Alberta (AB)?**

In [38]:
# Code here please
df[(df['profession'] == 'Structural Engineer') & (df['province'] == 'AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

**10. What is the max, min and average spending?**

In [45]:
# Code here please
print('Max. spending',df['price(CAD)'].max())
print('Min. spending',df['price(CAD)'].min())
print('Avg. spending',df['price(CAD)'].mean())

Max. spending 100.0
Min. spending 0.0
Avg. spending 49.990775000000184

Max. spending:  100.0
Mai. spending:  0.0
Avg. spending:  49.990775000000184

**11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!**

In [47]:
# Code here please
df[df['price(CAD)'] == 0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

**12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?**

In [50]:
# Code here please
df[df['price(CAD)'] >= 100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

**13. How many emails are associated with this credit card number '5020000000000230'?**

In [53]:
# Code here please
df['email'][df['cc_no'] == 5020000000000230]

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

**14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?**<br>
*Use `sum()` and `count()` and see the difference in their use :)*

In [55]:
# Code here please
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
prefix        30000 non-null object
first         30000 non-null object
last          30000 non-null object
email         30000 non-null object
gender        30000 non-null object
age           30000 non-null int64
company       30000 non-null object
profession    30000 non-null object
phone         30000 non-null object
postal        30000 non-null object
province      30000 non-null object
cc_no         30000 non-null int64
cc_exp        30000 non-null object
cc_type       30000 non-null object
price(CAD)    30000 non-null float64
fav_color     30000 non-null object
ip            30000 non-null object
weekday       30000 non-null object
ampm          30000 non-null object
date          30000 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

In [57]:
df[df['cc_exp'].apply(lambda x: x[5:]) == '19'].count()

prefix        2684
first         2684
last          2684
email         2684
gender        2684
age           2684
company       2684
profession    2684
phone         2684
postal        2684
province      2684
cc_no         2684
cc_exp        2684
cc_type       2684
price(CAD)    2684
fav_color     2684
ip            2684
weekday       2684
ampm          2684
date          2684
dtype: int64

In [58]:
sum(df['cc_exp'].apply(lambda x: x[5:]) == '19')

2684

**15. How many people use Visa as their Credit Card Provider?**

In [66]:
# Code here please
df['cc_type'][df['cc_type'] == 'Visa'].count()

1721

In [67]:
#we could use sum to accomplish the above
sum(df['cc_type']=='Visa')

1721

1721

**16. Can you find the customer who spent 100 CAD using Visa?**

In [69]:
# Code here please
df[(df['cc_type'] == 'Visa') &(df['price(CAD)'] == 100)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

**17. What are two most common professions?**

In [73]:
# Code here please
df['profession'].value_counts().head(2)

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

**18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)**

In [74]:
df.head(10)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045
5,Mrs.,Andre,McGuire,to@hotvo.ne,Male,50,Timken Company,Communications Director,(770) 426-3078,G8J 3D9,AB,5610000000000000,12/2018,Laser,25.32,Red,44.6.228.222,Thursday,pm,10/06/2030
6,Mr.,Cody,Thompson,nebuite@mi.bg,Female,62,Nicor Inc,Special Education Teacher,(837) 589-1682,T2I 9L2,PE,6370000000000000,10/2020,Solo,52.88,Blue,46.87.230.156,Thursday,am,09/23/2044
7,Mr.,Cory,Duncan,rucekefif@zi.mt,Male,36,Integrated Electrical Services Inc.,Urban Planner,(529) 615-1417,C9D 4Y4,NU,6300000000000000,10/2028,Diners Club enRoute,10.69,Blue,209.5.235.14,Friday,pm,04/24/2048
8,Miss,Dorothy,Watkins,cakpez@can.pm,Female,36,Service Corp. International,Veterinarian,(279) 709-6064,B0X 0B5,MB,343000000000000,03/2022,Diners Club Carte Blanche,99.56,Green,11.57.253.20,Wednesday,am,10/21/1920
9,Dr.,Rose,Tate,nafi@kuzrame.ee,Female,53,Eastman Kodak Company,Software Engineer,(410) 596-2046,M4I 0U9,NT,6300000000000000,04/2022,Discover Card,26.32,Red,177.27.84.7,Saturday,pm,10/03/2058

In [76]:
# Code here please
df['email_providers'] = df['email'].apply(lambda x:x.split('@')[1])

In [79]:
df['email_providers'].value_counts().head()

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email_providers, dtype: int64

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email, dtype: int64

**19. Is there any customer who is using email with "am.edu"?**<br>
Hint: Use `lambda` expression in `apply()`. split the email address at `@`.

In [81]:
# Code here please
df[df['email_providers'] == 'am.edu']

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,email_providers
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,...,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066,am.edu

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

**20. Which day of the week, the store gets more customers?**

In [82]:
# Code here please
df['weekday'].value_counts()

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Sunday       4213
Tuesday      4187
Name: weekday, dtype: int64

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

# Excellent work!