<h2>Hierarchial Indexing</h2>

In [1]:
import numpy as np
import pandas as pd

In [2]:
index = [['a','a','a','b','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,1,2]]

In [3]:
index

[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
 [1, 2, 3, 1, 2, 3, 1, 2, 1, 2]]

In [4]:
ser = pd.Series(np.random.randn(10),index=index)

In [5]:
ser

a  1   -1.299858
   2    0.966173
   3   -0.579699
b  1   -0.793936
   2    0.675073
   3    0.982164
c  1   -1.047361
   2    0.830246
d  1   -0.267630
   2    0.542252
dtype: float64

In [6]:
ser['a']

1   -1.299858
2    0.966173
3   -0.579699
dtype: float64

In [9]:
 #we can move to a more specific value
ser['a'][2]

0.9661725320790147

In [12]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),index=[['a','a','b','b'],[1,2,1,2]],columns=['AB','ON','BC'])

In [13]:
df

     AB  ON  BC
a 1   0   1   2
  2   3   4   5
b 1   6   7   8
  2   9  10  11

In [14]:
df['AB']

a  1    0
   2    3
b  1    6
   2    9
Name: AB, dtype: int32

In [15]:
df['BC']

a  1     2
   2     5
b  1     8
   2    11
Name: BC, dtype: int32

In [16]:
df.loc['a']

   AB  ON  BC
1   0   1   2
2   3   4   5

In [18]:
df.loc['b'].loc[2]

AB     9
ON    10
BC    11
Name: 2, dtype: int32

In [19]:
df

     AB  ON  BC
a 1   0   1   2
  2   3   4   5
b 1   6   7   8
  2   9  10  11

In [20]:
#to grab a specific value
df.loc['a'].loc[1]['BC']

2

In [22]:
df.index.names

FrozenList([None, None])

In [23]:
df.index.names = ['L1','L2']  #we can name the multilevel index

In [24]:
df.index.names

FrozenList(['L1', 'L2'])

In [25]:
df

       AB  ON  BC
L1 L2
a  1    0   1   2
   2    3   4   5
b  1    6   7   8
   2    9  10  11

In [26]:
df.xs('a')

    AB  ON  BC
L2
1    0   1   2
2    3   4   5

In [27]:
df.xs(key=1,level='L2')

    AB  ON  BC
L1
a    0   1   2
b    6   7   8

In [ ]:
data_dic =