In [1]:
import pandas as pd
import numpy as np

In [2]:
index = ['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10']
cols = ['c1','c2','c3','c4','c5','c6','c7','c8','c9','c10']
array_2d = np.arange(0,100).reshape(10,10)

In [3]:
array_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [5]:
df =pd.DataFrame(data=array_2d,index=index,columns=cols,dtype=float) #Making a dataframe

In [6]:
df

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1    0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
r2   10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
r3   20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
r4   30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
r5   40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0
r6   50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
r7   60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
r8   70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

<h2>Grab Data From DataFrame<h2>

In [7]:
df['c1']

r1      0.0
r2     10.0
r3     20.0
r4     30.0
r5     40.0
r6     50.0
r7     60.0
r8     70.0
r9     80.0
r10    90.0
Name: c1, dtype: float64

In [8]:
type(df['c1'])

pandas.core.series.Series

In [11]:
df[['c1','c2','c5','c7']]

       c1    c2    c5    c7
r1    0.0   1.0   4.0   6.0
r2   10.0  11.0  14.0  16.0
r3   20.0  21.0  24.0  26.0
r4   30.0  31.0  34.0  36.0
r5   40.0  41.0  44.0  46.0
r6   50.0  51.0  54.0  56.0
r7   60.0  61.0  64.0  66.0
r8   70.0  71.0  74.0  76.0
r9   80.0  81.0  84.0  86.0
r10  90.0  91.0  94.0  96.0

In [12]:
#or
df.c1

r1      0.0
r2     10.0
r3     20.0
r4     30.0
r5     40.0
r6     50.0
r7     60.0
r8     70.0
r9     80.0
r10    90.0
Name: c1, dtype: float64

In [13]:
#Add a column
df['new']=df['c1']+df['c2']

In [14]:
df

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10    new
r1    0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0    1.0
r2   10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0   21.0
r3   20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0   41.0
r4   30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0   61.0
r5   40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0   81.0
r6   50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0  101.0
r7   60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0  121.0
r8   70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0  141.0
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0  161.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0  181.0

In [16]:
#Delete a column
df.drop('new',axis=1) #need to pass the row,drop does not actually delete the column

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1    0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
r2   10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
r3   20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
r4   30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
r5   40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0
r6   50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
r7   60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
r8   70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

In [17]:
df #the column is back

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10    new
r1    0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0    1.0
r2   10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0   21.0
r3   20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0   41.0
r4   30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0   61.0
r5   40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0   81.0
r6   50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0  101.0
r7   60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0  121.0
r8   70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0  141.0
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0  161.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0  181.0

In [20]:
df.drop('new',axis=1,inplace=True) #when inplace=True, the column is deleted permanently

In [21]:
df

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1    0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
r2   10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
r3   20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
r4   30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
r5   40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0
r6   50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
r7   60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
r8   70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

In [23]:
#Retriving data from rows
df.loc['r1']  #loc accesses the row using the name

c1     0.0
c2     1.0
c3     2.0
c4     3.0
c5     4.0
c6     5.0
c7     6.0
c8     7.0
c9     8.0
c10    9.0
Name: r1, dtype: float64

In [24]:
#iloc accesses data using index position
df.iloc[0:5]

      c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1   0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
r2  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
r3  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
r4  30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
r5  40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0

In [25]:
df.loc[['r1','r2','r3']]

      c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1   0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
r2  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
r3  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0

In [26]:
df.loc['r1','c1'] #grabbing a single element

0.0

In [28]:
df.loc[['r1','r2'],['c1','c2']]  #getting only a subset of the dataframe

      c1    c2
r1   0.0   1.0
r2  10.0  11.0

In [30]:
bool_mask = df % 3 == 0  #Using a boolean mask

In [38]:
df[bool_mask]

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1    0.0   NaN   NaN   3.0   NaN   NaN   6.0   NaN   NaN   9.0
r2    NaN   NaN  12.0   NaN   NaN  15.0   NaN   NaN  18.0   NaN
r3    NaN  21.0   NaN   NaN  24.0   NaN   NaN  27.0   NaN   NaN
r4   30.0   NaN   NaN  33.0   NaN   NaN  36.0   NaN   NaN  39.0
r5    NaN   NaN  42.0   NaN   NaN  45.0   NaN   NaN  48.0   NaN
r6    NaN  51.0   NaN   NaN  54.0   NaN   NaN  57.0   NaN   NaN
r7   60.0   NaN   NaN  63.0   NaN   NaN  66.0   NaN   NaN  69.0
r8    NaN   NaN  72.0   NaN   NaN  75.0   NaN   NaN  78.0   NaN
r9    NaN  81.0   NaN   NaN  84.0   NaN   NaN  87.0   NaN   NaN
r10  90.0   NaN   NaN  93.0   NaN   NaN  96.0   NaN   NaN  99.0

In [32]:
df

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1    0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
r2   10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
r3   20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
r4   30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
r5   40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0
r6   50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
r7   60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
r8   70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

In [35]:
b_m=df['c1']>11

In [36]:
df[b_m]

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r3   20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
r4   30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
r5   40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0
r6   50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
r7   60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
r8   70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

In [40]:
result = df[df['c1']>11]

In [41]:
result

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r3   20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
r4   30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
r5   40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0
r6   50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
r7   60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
r8   70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

In [42]:
result['c1']

r3     20.0
r4     30.0
r5     40.0
r6     50.0
r7     60.0
r8     70.0
r9     80.0
r10    90.0
Name: c1, dtype: float64

In [45]:
result2 = df[df['c1']>11][['c7','c2','c7']]

In [46]:
result2

       c7    c2    c7
r3   26.0  21.0  26.0
r4   36.0  31.0  36.0
r5   46.0  41.0  46.0
r6   56.0  51.0  56.0
r7   66.0  61.0  66.0
r8   76.0  71.0  76.0
r9   86.0  81.0  86.0
r10  96.0  91.0  96.0

In [47]:
df[df['c1']>11].loc[['r3','r7','r8']]

      c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r3  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
r7  60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
r8  70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0

In [49]:
df[df['c1'] == 70]

      c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r8  70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0

In [50]:
df[(df['c1']>60) & (df['c2']>80)]  #We need to use & and not and same with or

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r9   80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

<h2>USeful Menthod</h2>

In [51]:
df.reset_index(inplace=True) #adding an index 0,1,2,3

In [52]:
df

  index    c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
0    r1   0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
1    r2  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
2    r3  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
3    r4  30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
4    r5  40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0
5    r6  50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
6    r7  60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
7    r8  70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
8    r9  80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
9   r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

In [53]:
new_ind = ['a','b','c','d','e','f','g','h','i','j']

In [54]:
df['new_ind'] =new_ind

In [58]:
df

  index    c1    c2    c3    c4    c5    c6    c7    c8    c9   c10 new_ind
0    r1   0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0       a
1    r2  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0       b
2    r3  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0       c
3    r4  30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0       d
4    r5  40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0       e
5    r6  50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0       f
6    r7  60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0       g
7    r8  70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0       h
8    r9  80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0       i
9   r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0       j

In [61]:
#Setting an index 
df.set_index('new_ind',inplace=True)

In [62]:
df

        index    c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
new_ind
a          r1   0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
b          r2  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
c          r3  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
d          r4  30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
e          r5  40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0
f          r6  50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
g          r7  60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
h          r8  70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
i          r9  80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
j         r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

In [65]:
df.head(5)

        index    c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
new_ind
a          r1   0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0
b          r2  10.0  11.0  12.0  13.0  14.0  15.0  16.0  17.0  18.0  19.0
c          r3  20.0  21.0  22.0  23.0  24.0  25.0  26.0  27.0  28.0  29.0
d          r4  30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  39.0
e          r5  40.0  41.0  42.0  43.0  44.0  45.0  46.0  47.0  48.0  49.0

In [66]:
df.tail(5)

        index    c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
new_ind
f          r6  50.0  51.0  52.0  53.0  54.0  55.0  56.0  57.0  58.0  59.0
g          r7  60.0  61.0  62.0  63.0  64.0  65.0  66.0  67.0  68.0  69.0
h          r8  70.0  71.0  72.0  73.0  74.0  75.0  76.0  77.0  78.0  79.0
i          r9  80.0  81.0  82.0  83.0  84.0  85.0  86.0  87.0  88.0  89.0
j         r10  90.0  91.0  92.0  93.0  94.0  95.0  96.0  97.0  98.0  99.0

In [67]:
#Get info of the database
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 11 columns):
index    10 non-null object
c1       10 non-null float64
c2       10 non-null float64
c3       10 non-null float64
c4       10 non-null float64
c5       10 non-null float64
c6       10 non-null float64
c7       10 non-null float64
c8       10 non-null float64
c9       10 non-null float64
c10      10 non-null float64
dtypes: float64(10), object(1)
memory usage: 960.0+ bytes

In [68]:
#Describe is used to well, describe
df.describe()

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,45.000000,46.000000,47.000000,48.000000,49.000000,50.000000,51.000000,52.000000,53.000000,54.000000
std,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504
min,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000
25%,22.500000,23.500000,24.500000,25.500000,26.500000,27.500000,28.500000,29.500000,30.500000,31.500000
50%,45.000000,46.000000,47.000000,48.000000,49.000000,50.000000,51.000000,52.000000,53.000000,54.000000
75%,67.500000,68.500000,69.500000,70.500000,71.500000,72.500000,73.500000,74.500000,75.500000,76.500000
max,90.000000,91.000000,92.000000,93.000000,94.000000,95.000000,96.000000,97.000000,98.000000,99.000000

<h2>Hierarchial Indexing</h2>