<a href='http://www.scienceacademy.ca'> <img style="float: left;height:70px" src="Logo_SA.png"></a>

# Python Essentials Exercises: 

This notebook provides exercises to test your understanding of Python Basics. If you find these exercises challenging, then you may not have enough programming experience. You need to spend little more time to understand Python's basics, before you continue to this course. <br>

I recommend, take any basic course on Python (there are several free courses on Python basics available on the web) or explore following resources:<br>
“[python.org](https://www.python.org/about/gettingstarted/)”.<br>
"[learning-python’s documentation](http://learning-python.readthedocs.io/en/latest/index.html)".<br>
“[Learning Python, 5th Ed.](http://shop.oreilly.com/product/0636920028154.do)”<br>

Let's move on to the exercises.

## Exercises

Complete the tasks given below or answer the questions. If given, please follow the instructions.

**1. What is 5 to the power of 3?**

In [1]:
# To avoid overwriting the output, please code here 
5**3

125

125

**2. what is the remainder if 9 is divided by 2.** Is 9 even?

In [3]:
# To avoid overwriting the output, please code here 
9%2

1

1

**3. Convert the string** "s = 'i am in Alberta'" **into upper case and into a list.**

In [6]:
s = 'i am in Alberta'

In [13]:
# To avoid overwriting the output, please code here 
newstring=s.upper()
newstring.split(' ')

['I', 'AM', 'IN', 'ALBERTA']

['I', 'AM', 'IN', 'ALBERTA']

**4. Convert the string** "s = 'My name is #Qazi!'" **into lower case and split at # into a list. **

In [16]:
s = "My name is #Qazi!"

In [18]:
# To avoid overwriting the output, please code here 
an=s.lower()
an.split('#')

['my name is ', 'qazi!']

['my name is ', 'qazi!']

**5. We have**

    province = "Alberta"
    population = 4.1

** print the following using format()**

    The total population of Alberta is 4.1 million.

Steps:<br>
Create place holders inside the string in the print statement.<br>
pass in the initialized variables to the format to fill the place holders<br>

In [19]:
province = "Alberta"
population = 4.1

In [24]:
# To avoid overwriting the output, please code here 
"The total population of {} is {} million".format(province,population)

'The total population of Alberta is 4.1 million'

In [23]:
"The total population of {province} is {population} million".format(population=population,province=province)

'The total population of Alberta is 4.1 million'

The total population of Alberta is 4.1 million.
The total population of Alberta is 4.1 million.

**6. Can you grab "Canada" from the nested list? Use indexing.**

In [26]:
a = ['Alberta',2,[3,4],[5,['Canada',7,['hello']],10,15],1,7]

In [28]:
# To avoid overwriting the output, please code here 
a[3][1][0]

'Canada'

'Canada'

**7. List name of provinces (keys) from the dictionary below.**

In [29]:
d = {'BC':'Victoria','AB':'Edmonton', 'ON':'Toronto', 'QC':'Quebec City'}

In [31]:
# To avoid overwriting the output, please code here 
list(d.keys())

['BC', 'AB', 'ON', 'QC']

['BC', 'AB', 'ON', 'QC']

**8. From the nested dictionary, grab the word "Montreal". Little tricky! **

In [32]:
d = {'k1':'AB','k2':[1,{'BC':['SK','ON','Vancouver',{'Calgary':[1,2,3,'Montreal']}]}]}

In [39]:
# To avoid overwriting the output, please code here 
d['k2'][1]['BC'][3]['Calgary'][3]

'Montreal'

'Montreal'

**9. What is the main difference between a tuple and a list? **

In [41]:
# ????
#tuple is immutable, list can be mutated
mytuple = (3,4,3,4)
mylist = [3,4,3,4]

In [46]:
mylist

[3, 56, 3, 4]

**10. An element can appear multiple times in a set ? True / False**

In [24]:
# ????
False

**11. You got email addresses, write a function to split the website domain **

    user_name@some_domain.ca    
    
**passing email and the function should return some_domain.com**

In [50]:
# To avoid overwriting the output, please code here 
def splitdomain(domain):
    mydomain = domain.split('@')
    return str(mydomain[1])

print(splitdomain('user_name@some_domain.ca'))

some_domain.ca

In [27]:
Get_domain('user_name@some_domain.ca')

'some_domain.ca'

**12. Can you write a function that tells you if there is a word 'Calgary' in the provided string?<br> How to deal if the word "city" is capitalized? **

Create a function<br>
Pass the string 's' to the function<br>
in order to account for the capitalization, we will use .lower and split at white space

In [55]:
# To avoid overwriting the output, please code here 
def findCal(sentence):
    splitS=sentence.lower().split()
    return 'calgary' in splitS

findCal('Calgary is a city in Alberta')

True

In [30]:
find_city('Calgary is a city in Alberta')

True

**13. Write a function to return square of numbers from 1 to 5, use range() method **

In [58]:
# To avoid overwriting the output, please code here 
def square(numbers):
    result = []
    for number in numbers:
        result.append(number**2)
    return result

square(range(1,9))

[1, 4, 9, 16, 25, 36, 49, 64]

In [33]:
square(range(1,6))

[1, 4, 9, 16, 25]

**14. Write lambda expression for the function above, use map() and range()**

In [60]:
# To avoid overwriting the output, please code here 
list(map(lambda x:x**2,range(1,9)))

[1, 4, 9, 16, 25, 36, 49, 64]

[1, 4, 9, 16, 25]

**15. filter the words from a list that start with 'c'. Use lambda expression and filter().**

    veg_list = ['tomato','cabbage','meat','chicken','goat']

**Out put should be **

    ['cabbage','chicken']

In [61]:
veg_list = ['tomato','cabbage','meat','chicken','goat']

In [63]:
# To avoid overwriting the output, please code here 
list(filter(lambda x:'c' in x[0],veg_list))

['cabbage', 'chicken']

['cabbage', 'chicken']

**16. You are a loyal customer and the store to offering discounts to their loyal customers:**
* ***between 0 & 50 CAD, you get 10 % discounts,***<br>
* ***between 51 & 100 CAD, you get 20 % discounts,***<br>
* ***more than 100 CAD, you get 40 % discounts,*** <br>
* ***Its Monday, and you are spending more than 50 CAD, you get a cherry on top! 10 CAD OFF***<br>

**write a function to calculate how much the customer will pay for any spending.**<br>
**Tricky? <br>You need to develop the logic! <br>Take a pen and a notebook and do the calculations if needed!<br>
test the function for [51,50,100,101] using for loop with you function**
### Good Luck**

In [66]:
# To avoid overwriting the output, please code here 
# Write your function here.
def effectivepay(totalspend,monday):
    if monday == True:
        if totalspend <= 50:
            return effectivepay * 0.90
        elif totalspend > 50 and totalspend <=100:
            return effectivepay * 0.80
         else totalspend > 100 :
            return effectivepay * 0.60
    else:
         if totalspend <= 50:
            return effectivepay * 0.90
        elif totalspend > 50 and totalspend <=100:
            return (effectivepay-10) * 0.80
         else totalspend > 100 :
            return (effectivepay-10) * 0.60
effectivepay(50,True)

IndentationError: unindent does not match any outer indentation level (<ipython-input-66-05cc144b6f91>, line 9)

In [67]:
def effectivepay(totalspend, monday):

    if monday == False:
        if totalspend <= 50:
            return totalspend * 0.90
        elif totalspend > 50 and totalspend <= 100:
            return totalspend * 0.80
        elif totalspend > 100:
            return totalspend * 0.60
    else:
        if totalspend <= 50:
            return totalspend * 0.90
        elif totalspend > 50 and totalspend <= 100:
            return (totalspend-10) * 0.80
        elif totalspend > 100:
            return (totalspend-10) * 0.60

In [68]:
# To avoid overwriting the output, please code here 
# Call function using for loop if not Monday
test = [50, 51, 100, 101]
for num in test:
    print("For",num,"CAD, you pay", effectivepay(num,False),"if not Monday")

For 50 CAD, you pay 45.0 if not Monday
For 51 CAD, you pay 40.800000000000004 if not Monday
For 100 CAD, you pay 80.0 if not Monday
For 101 CAD, you pay 60.599999999999994 if not Monday

In [69]:
test = [50, 51, 100, 101]
for num in test:
    print("For",num,"CAD, you pay", effectivepay(num,True),"if not Monday")

For 50 CAD, you pay 45.0 if not Monday
For 51 CAD, you pay 32.800000000000004 if not Monday
For 100 CAD, you pay 72.0 if not Monday
For 101 CAD, you pay 54.6 if not Monday

In [42]:
test = [50, 51, 100, 101]
for num in test:
    print("For",num,"CAD, you pay", you_pay(num,False),"if not Monday")

For 50 CAD, you pay 45.0 if not Monday
For 51 CAD, you pay 40.8 if not Monday
For 100 CAD, you pay 80.0 if not Monday
For 101 CAD, you pay 60.6 if not Monday

In [43]:
# To avoid overwriting the output, please code here 
# Call function using for loop if its Monday today

In [44]:
test = [50, 51, 100, 101]
for num in test:
    #print(num)
    print("For",num,"CAD, you pay ",you_pay(num,True), "on Monday")

For 50 CAD, you pay  45.0 on Monday
For 51 CAD, you pay  36.8 on Monday
For 100 CAD, you pay  76.0 on Monday
For 101 CAD, you pay  57.6 on Monday

<br>

# Great job!