In [3]:
print('My name is {} and my age is {}'.format('Paul',25))

My name is Paul and my age is 25

In [4]:
print('Her name is {name} and her age is {age}'.format(name='June',age=22))

Her name is June and her age is 22

In [5]:
print('My name is {name} and {name} and age is {age}, yes {age}'.format(name='Wechuli',age=25))

My name is Wechuli and Wechuli and age is 25, yes 25

In [6]:
mystring = 'This is a long string'

In [7]:
mystring[6]

's'

In [8]:
mystring[6]='r'

TypeError: 'str' object does not support item assignment

In [9]:
mystring[-1]

'g'

In [10]:
mystring[:4]

'This'

In [11]:
mystring[3:6]

's i'

String methods

In [12]:
greeting = 'Hi, my name is Paul'

In [13]:
greeting.lower()

'hi, my name is paul'

In [14]:
greeting.upper()

'HI, MY NAME IS PAUL'

In [17]:
greeting.split()

['Hi,', 'my', 'name', 'is', 'Paul']

In [18]:
tweet = 'go flames go! #hoockey'

In [20]:
tweet.split('#')[1]

'hoockey'

lists

In [21]:
fruits = ['bananas','oranges','apples','guavas','mangoes']

In [22]:
fruits

['bananas', 'oranges', 'apples', 'guavas', 'mangoes']

In [23]:
len(fruits)

5

In [24]:
for item in fruits:
    print(item)

bananas
oranges
apples
guavas
mangoes

In [25]:
fruits[1:2]

['oranges']

In [26]:
fruits.append('Pineapples')

In [27]:
fruits

['bananas', 'oranges', 'apples', 'guavas', 'mangoes', 'Pineapples']

In [28]:
fruits.pop()

'Pineapples'

In [29]:
fruits

['bananas', 'oranges', 'apples', 'guavas', 'mangoes']

In [30]:
nested_fruits = ['Avacado','Peacheas']

In [31]:
fruits.append(nested_fruits)

In [32]:
fruits

['bananas', 'oranges', 'apples', 'guavas', 'mangoes', ['Avacado', 'Peacheas']]

In [33]:
fruits[5][1]

'Peacheas'

In [34]:
max([2,3,4,6])

6

Dictionaries

In [56]:
mydict = {"k1":'v1','k2':'v2','k3':'v3'}

In [57]:
mydict['k4']='v4'

In [58]:
mydict

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': 'v4'}

In [37]:
mydict['k1']

'v1'

In [38]:
mydict.values

In [39]:
mydict.values()

dict_values(['v1', 'v2', 'v3'])

In [40]:
mydict.keys()

dict_keys(['k1', 'k2', 'k3'])

Tuples - imutable

In [41]:
mytuple = (1,2,3)

In [43]:
mytuple[1
       ]

2

Sets

In [44]:
myset = {3,2,34,4,2,23,3,2,2,2,2,2}

In [45]:
print(myset)

{2, 3, 34, 4, 23}

In [46]:
s={1,2,3}

In [47]:
s.add(5)

In [48]:
s

{1, 2, 3, 5}

In [49]:
s.add(5)

In [50]:
s

{1, 2, 3, 5}

Boolean

In [54]:
she_loves_me = False

In [55]:
if(she_loves_me):
    print('You are good to go')
else:
    print('Better luck next time')

Better luck next time