In [2]:
3 == 3

True

3>4

In [3]:
3>4

False

In [4]:
3<4

True

In [5]:
if 3<4:
    print('yes')

yes

In [6]:
'Tim' == 'tim'

False

In [7]:
'Tim' == 'Tim'

True

In [8]:
1<2 and 2<3

True

In [9]:
1<2 or 2>3

True

In [10]:
1<2 and 2>3

False

In [11]:
1==2 or 2==3 or 4==4

True

In [12]:
1==2 or 2==3 and 4==4

False

Conditionals

In [13]:
if 3>2:
    print('This is true')

This is true

In [14]:
def printing(message):
    print(message)

In [15]:
if 3>2:
    printing('This is true')

This is true

In [16]:
input('Please insert number')

Please insert number34

'34'

In [17]:
a = input('Please insert number')

Please insert number34

In [18]:
a

'34'

In [21]:
def compare():
    a = input('Insert number with variable name a: ')
    b = input('Insert number with variable name b: ')
    if a > b:
        print('{a} is greater than {b}'.format(a=a,b=b))
    elif a == b:
        print('{a} is equal to {b}'.format(a=a,b=b))
    else:
        print('{a} is smaller than {b}'.format(a=a,b=b))

In [27]:
compare()

Insert number with variable name a: 12
Insert number with variable name b: 56
12 is smaller than 56

<h1> <b>LOOPS</b> </h1>

In [2]:
i=1
while i < 5:
    print('value {}'.format(i))
    i=i+1
else:
    print('exit')

value 1
value 2
value 3
value 4
exit

In [3]:
fruits = ['mangoes','apples','Avacado','guavas']

In [4]:
for fruit in fruits:
    print(fruit)

mangoes
apples
Avacado
guavas

In [5]:
fruits(range(4))

TypeError: 'list' object is not callable

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(1,67,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64

LIST COMPREHENSION

In [8]:
values = [1,2,3,4,5,6,7]

In [9]:
out = []
for value in values:
    out.append(value**2)
print(out)

[1, 4, 9, 16, 25, 36, 49]

In [10]:
out_easy = [value**2 for value in values]

In [11]:
out_easy

[1, 4, 9, 16, 25, 36, 49]

In [12]:
[chars for chars in 'Hi, there Paul']

['H', 'i', ',', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'P', 'a', 'u', 'l']

In [13]:
[num**2 for num in range(2,10)]

[4, 9, 16, 25, 36, 49, 64, 81]