In [1]:
import pandas as pd
import numpy as np

<h2>Combining and Merging</h2>

In [3]:
d1 = {'key':['a','b','c','d','e'],'A1':range(5),'B1':range(5,10)}
d2 = {'key':['a','b','c'],'A2':range(3),'B2':range(3,6)}

In [4]:
d1

{'key': ['a', 'b', 'c', 'd', 'e'], 'A1': range(0, 5), 'B1': range(5, 10)}

In [5]:
d2

{'key': ['a', 'b', 'c'], 'A2': range(0, 3), 'B2': range(3, 6)}

In [6]:
df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

In [7]:
df1

  key  A1  B1
0   a   0   5
1   b   1   6
2   c   2   7
3   d   3   8
4   e   4   9

In [8]:
df2

  key  A2  B2
0   a   0   3
1   b   1   4
2   c   2   5

In [9]:
pd.merge(df1,df2,how='inner',on='key')

  key  A1  B1  A2  B2
0   a   0   5   0   3
1   b   1   6   1   4
2   c   2   7   2   5