In [5]:
import pandas as pd
import numpy as np

In [6]:
my_label = ['x','y','z']
my_data = [100,200,300]

In [7]:
pd.Series(data=my_data)

0    100
1    200
2    300
dtype: int64

In [8]:
pd.Series(data=my_data,index=my_label)

x    100
y    200
z    300
dtype: int64

In [9]:
#we can skip the labels 
pd.Series(my_data,my_label)

x    100
y    200
z    300
dtype: int64

In [11]:
#lets make a series from a numpy array
my_array = np.array(my_data)

In [13]:
pd.Series(my_array,index=my_label)

x    100
y    200
z    300
dtype: int32

<h2>Using Dictionaries<h2>

In [21]:
my_dic = {'Paul':25,'Brian':27,'June':22,27:19}

In [22]:
pd.Series(my_dic)

Paul     25
Brian    27
June     22
27       19
dtype: int64

In [23]:
for keys in my_dic.keys():
    #print(my_dic[key])
    print(keys)

Paul
Brian
June
27

In [24]:
#Series can hold strings as well
pd.Series(my_dic.keys())

0    (Paul, Brian, June, 27)
1    (Paul, Brian, June, 27)
2    (Paul, Brian, June, 27)
3    (Paul, Brian, June, 27)
dtype: object

In [25]:
dic1 = {'Toronto':500,'Calgary':200,'Vancouver':300,'Montreal':700}
dic2 = {'Calgary':200,'Vancouver':300,'Montreal':700}
dic3 = {'Calgary':200,'Vancouver':300,'Montreal':700,'Jasper':1000}

In [26]:
ser1 = pd.Series(dic1)
ser2 = pd.Series(dic2)
ser3 = pd.Series(dic3)

In [27]:
ser1

Toronto      500
Calgary      200
Vancouver    300
Montreal     700
dtype: int64

In [28]:
ser2

Calgary      200
Vancouver    300
Montreal     700
dtype: int64

In [29]:
ser3

Calgary       200
Vancouver     300
Montreal      700
Jasper       1000
dtype: int64

In [30]:
ser1['Calgary']

200

In [31]:
ser1['Toronto']

500

In [35]:
ser4=ser1+ser2

In [36]:
ser4

Calgary       400.0
Montreal     1400.0
Toronto         NaN
Vancouver     600.0
dtype: float64

In [38]:
ser5 = ser4 + ser3
ser5

Calgary       600.0
Jasper          NaN
Montreal     2100.0
Toronto         NaN
Vancouver     900.0
dtype: float64

In [39]:
ser4.isnull()

Calgary      False
Montreal     False
Toronto       True
Vancouver    False
dtype: bool

In [40]:
ser5.isnull()   #get if data is null

Calgary      False
Jasper        True
Montreal     False
Toronto       True
Vancouver    False
dtype: bool

In [41]:
ser4.notnull() #get if data is not null

Calgary       True
Montreal      True
Toronto      False
Vancouver     True
dtype: bool

In [43]:
ser4.axes   #get the index

[Index(['Calgary', 'Montreal', 'Toronto', 'Vancouver'], dtype='object')]

In [44]:
ser4.values  #get values

array([ 400., 1400.,   nan,  600.])

In [45]:
ser4.head(2)   #show thefirst values, 5 by default

Calgary      400.0
Montreal    1400.0
dtype: float64

In [46]:
ser4.tail(1)

Vancouver    600.0
dtype: float64

In [49]:
ser1.size

4

In [50]:
ser4.empty

False